<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Life of Lawrence</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand home">Lawrence Jiang</a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
		</div> <!-- navbar-header -->
			
		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><a href="https://www.facebook.com/lawrence.jiang.1" target="_blank">
			  		<img class="img-responsive icon" src="/images/facebook.png" alt="facebook"></a></li>
			  	<li><a href="https://www.youtube.com/channel/UC7lMkaU9wdanVqQvmOWbCBA?view_as=subscriber" target="_blank">
			  		<img class="img-responsive icon" src="/images/youtube.svg" alt="youtube"></a></li>
			  	<li><a href="https://www.linkedin.com/in/lawrence-jiang-2b0144117/" target="_blank">
			  		<img class="img-responsive icon" src="/images/linkedin-icon.png" alt="LinkedIn"></a></li>
			  	<li><a href="https://github.com/lajiang2" target="_blank">
			  		<img class="img-responsive icon" src="/images/github-icon.png" alt="GitHub"></a></li>
				<li><a href="mailto:lawrencejiang@berkeley.edu" target="_blank">
			  		<img class="img-responsive icon" src="/images/email-icon.png" alt="Email"></a></li>
			  	<li><a href="/assets/resume.pdf" target="_blank">
			  		<img class="img-responsive icon" src="/images/resume-icon.png" alt="Resume"></a></li>
			</ul>
		</div> <!-- collapse navbar-collapse navHeaderCollapse -->
	</div> <!-- container-fluid -->
</nav> <!-- navbar navbar-default navbar-static-top -->
</html>